body {
  background-color: #0e518f;
}

header {
  padding-top: 2rem;
}

.headerContent {
  /* padding-left: 1rem;
  padding-right: 1rem;
  min-height: 1.5rem; */
  display: flex;
  flex: 1;
}

.headerContent img {
  height: 3rem;
  margin-top: auto;
}

.main {
  padding: 2rem;
}

.right {
  float: right;
  margin-top: auto;
}

.mainGrid {
  display: flex;
  justify-content: center;
}

.mainPaper {
  width: 100%;
  min-height: 98vh;
}

.mainContent {
  min-height: 75vh;
}

.tc {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 10px;
}

.tipsImage {
  padding: 0.5rem;
  padding-top: 4rem;
  border-left: 1px solid #ddd;
  height: 75vh;
}

.searchCol {
  padding: 0.5rem;
  padding-right: 1rem;
}

.tipsImage img,
.ladyImage img {
  width: 100%;
}

.homeText {
  padding-top: 2rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
